font-color=#2c2c2c;
minor-font-color=#696969;
l-gray-color=#797979;
gray-color=#bfbfbf;
s-gray-color=#d3d3d3;
xs-gray-color=#9e9e9e;
xxs-gray-color=#eaeaea;
main-color=#207fe9;
blue-color=#00d2ff;
green-color=#098348;
yellow-color=#e7b300;
orange-color=#ee7600;
purple-color=#b2009b;
red-color=#ff3368;

// mixins
